<style>
  :root {
    --button-color: {{ section.settings.button_color }};
    --button-hover-color: {{ section.settings.button_hover_color }};
  }
</style>


<link rel="stylesheet" href="{{ 'sass-styles.css' | asset_url }}">

<div class="socks-wrapper">
  <div class="socks-content">
    <div class="socks-header">
      <h2 class="socks-title">{{ section.settings.socks_title }}</h2>
      <div class="socks-overview" style="font-size: {{ section.settings.overview_text_size }}px !important;">
        {{ section.settings.socks_overview }}
      </div>
    </div>
    {% if section.settings.button_text != blank %}
      <a href="{{ section.settings.button_url }}" class="socks-button">
        {{ section.settings.button_text }}&nbsp;
        <i class="fas fa-arrow-right"></i>
      </a>
    {% endif %}
  </div>

  <!-- Slider Container -->
<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'collection' %}
            <!-- Collection Slide -->
            {% assign collection = collections[block.settings.collection] %}
            <li class="glide__slide">
              <img src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}">
                  {% if section.settings.collection_button_text != blank %}
                    <a href="{{ section.settings.collection_button_url }}" class="socks-button">
                      {{ section.settings.collection_button_text }}&nbsp;
                      <i class="fas fa-arrow-right"></i>
                    </a>
                  {% endif %}
              <div class="card-title">
                <strong>{{ collection.title }}<span>({{ collection.products_count }})</span></strong>
              </div>
              <a href="{{ collection.url }}" class="card-link">View Collection</a>
            </li>
          {% when 'product' %}
            <!-- Product Slide -->
            {% assign product = all_products[block.settings.product] %}
            <li class="glide__slide">
              <div class="image-container" style="position: relative;">
                <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
                <div class="color-selectors">
                  {% for variant in product.variants %}
                    {% if variant.metafields.custom.variant_color %}
                      <div class="color-selector" data-variant-id="{{ variant.id }}" data-variant-image="{{ variant.image | img_url: 'master' }}" style="background-color: {{ variant.metafields.custom.variant_color }}"></div>
                    {% endif %}
                  {% endfor %}
                </div>
                  {% if section.settings.product_button_text != blank %}
                    <a href="{{ section.settings.product_button_url }}" class="socks-button">
                      {{ section.settings.product_button_text }}&nbsp;
                      <i class="fas fa-arrow-right"></i>
                    </a>
                  {% endif %}
              </div>
              <div class="card-title">
                <strong>{{ product.title }}<span>({{ product.price | money_with_currency }})</span></strong>
              </div>
              <div class="card-description">{{ product.description }}</div>
            </li>
        {% endcase %}
      {% endfor %}
    </ul>
  </div>
  <!-- Glide Arrows -->
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fas fa-chevron-left"></i></button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="fas fa-chevron-right"></i></button>
  </div>
</div>


  {% if section.settings.button_text != blank %}
    <a href="{{ section.settings.button_url }}" class="socks-button-lower">
      {{ section.settings.button_text }}&nbsp;
      <i class="fas fa-arrow-right"></i>
    </a>
  {% endif %}

</div>

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@latest/dist/glide.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Listen for clicks on color selectors and adjust their position
    document.querySelectorAll('.glide__slide').forEach(function(slide) {
        const imageContainer = slide.querySelector('.image-container');
        const selectors = slide.querySelectorAll('.color-selector');

        selectors.forEach(function(selector, index) {
            // Ensure the selectors are positioned relative to the image container
            selector.style.position = 'absolute';
            selector.style.bottom = '5px'; // Adjust as needed
            selector.style.left = `${5 + index * 25}px`; // Adjust starting position and spacing as needed
        });

        // Set up click event for changing the image based on the selector
        selectors.forEach(selector => {
            selector.addEventListener('click', function() {
                const variantImageUrl = this.getAttribute('data-variant-image');
                const productImage = imageContainer.querySelector('img');

                if (productImage && variantImageUrl) {
                    productImage.src = variantImageUrl;
                }
            });
        });
    });
});

</script>






<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Glide('.glide', {
      type: 'carousel',
      gap: 20,
      perView: 4,
      breakpoints: {
        768: {
          perView: 2.5
        },
        480: {
          perView: 1.5
        }
      }
    }).mount();
  });
</script>



{% schema %}
  {
    "name": "Socks",
    "settings": [
      {
      "type": "richtext",
      "id": "socks_title",
      "label": "Socks Title",
      "default": "<h2>This is a section title...</h2>"
    },
    {
      "type": "richtext",
      "id": "socks_overview",
      "label": "Socks Overview",
      "default": "<p>Section overview. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>"
    },
    {
      "type": "range",
      "id": "overview_text_size",
      "label": "Overview Text Size",
      "min": 10,
      "max": 24,
      "step": 1,
      "default": 16,
      "unit": "px"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Explore all ranges"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Color",
      "default": "#000000"

    },
    {
      "type": "color",
      "id": "button_hover_color",
      "label": "Button Hover Color",
      "default": "#695EE4"
    }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Select a Collection"
          },
          {
            "type": "url",
            "id": "collection_button_url",
            "label": "Button URL"
          },
          {
            "type": "text",
            "id": "collection_button_text",
            "label": "Button Text",
            "default": "Explore Collection"
          }
        ]
      },
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Select a Product"
          },
          {
            "type": "url",
            "id": "product_button_url",
            "label": "Button URL"
          },
          {
            "type": "text",
            "id": "product_button_text",
            "label": "Button Text",
            "default": "View Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Socks",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}